/* Universal Formatting */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.content {
  margin-top: 70px;
}

/* Header */

/*I still have to add underline to link*/
header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  flex-grow: 1;
  margin-top: 0px;
  background-color: black;
  }

.logo {
  height: 50px;
  padding-left: 10px;
}


/* first part */

.first-tea {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction:
  }

.first-tea h2 h4 {
  display: block;
  background-color: black;
  margin: 0;
}

/* teas in squares */

.five-teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.five-teas span {
  display: block;
  text-align: center;
  font-weight: bold;
}


.month {
  display: block;
  text-align: center;
  font-weight: bold;
}

.teatea {
  height: 200px;
  width: 300px;
}

.above-row {
  display: flex;
  justify-content: space-between;

  }

.lower-row {
  display: flex;
  justify-content: center;
}

.individual-tea {
  display: block;
  align-items: center;
  padding: 10px;
  height: 250px;
  align-items: baseline;
}


/* Locations */

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  display: flex;
}

.locations-blocks {
  display: block;
  width: 300px;
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  background-color: black;
  text-align: center;
}


/* Contact */

.contact {
  display: block;
  height: 200px;

}

.contact h2 h5 p {
  display: block;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer{
  display: flex;
}

.copyright {
  align-items: flex-end;
}
